.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 0 auto; /* Center in parent */
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.max-height {
    height: 100%;
}

.max-width {
    width: 100%;
}

.borderLayout {
    display: table;  
    width: 100%
}

.borderLayout .top {
    display: table-row;
    width: 100%;
}

.borderLayout .left {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    min-width: 240px;
}

.borderLayout .center {
    display: table-cell;
    vertical-align: top;
}
  
.borderLayout .right {
    display: table-cell;
    vertical-align: top;
    width: 10%;
    min-width: 240px;
}
  
.borderLayout .bottom {
    display: table-row; 
    width: 100%;
}